body {
    font-family: Helvetica, sans-serif;
    background-color: #d8d8d8;
    color: #333;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #A11B1B;
    color: #FFEE00;
    text-align: center;
    padding: 20px 0;
}

.header h1 {
    font-family: Impact, sans-serif;
    font-size: 45px;
}

.article {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    line-height: 2;
}

.article img {
    max-width: 100%; 
    max-height: 500px;
    height: auto; 
    display: block; 
    margin: 10px auto; 
}

figure {
    text-align: center;
    margin: 20px auto;
}

figcaption {
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.important {
    color: #b71c1c;
    font-weight: bold;
}

.quote {
    font-style: italic;
    font-weight: bold;
    border-left: 4px solid #b71c1c;
    margin: 20px 0;
    padding-left: 15px;
}

.article .bold {
    font-weight: bold;
}

.footer {
            border-top: 1px solid #dcdcdc;
            padding-top: 10px;
            text-align: right;
            font-size: 14px;
            color: #888;}
